.board-container {
    border-radius: 25px 5px 5px 5px;
    background: rgba(255, 255, 255, 0.2);
}

.board-list .player {
    background: none;
}

.board-list {
    gap: 2em;
}

.board-list .ownerIcon-bg {
    display: none;
}