.square.drag-over {
    background-color: lightgray;
}

.square.drag-over.wrong{
  background-color: rgba(255, 0, 0, 0.582);
}


.square .💣 {
  animation: shake 0.9s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.square img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.shot {
  z-index: 1;
  position: absolute;
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-4px, 0) rotate(-20deg); }
  30% { transform: translate(4px, 0) rotate(20deg); }
  50% { transform: translate(-4px, 0) rotate(-10deg); }
  60% { transform: translate(4px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}