.fleet {
    display: inline-flex;
    flex-direction: column;
    gap: 1.2rem;
}

.ship-container {
    display: flex;
    justify-content: center;
}

.vertical {
    transform: rotate(90deg);
}

.ship-container .square {
    border-right: none;
    border-left: none;
}
.ship-container  > .square:first-child {
    border-left: 1px solid #eee; 
}

.ship-container  > .square:last-child {
    border-right: 1px solid #eee;
}

@media (max-width: 767px) {

    .fleet {
        flex-direction: row;
        max-width: 400px;
        overflow: auto;
        margin: auto;
        padding-bottom: 1rem;
    }

}