/* https://codepen.io/team/TattooProjects/pen/abaLQgM */
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap");

header .title{
    font-family: "Alfa Slab One", cursive;
    text-align: center;
    font-size: 45px;
    word-spacing: -5px;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

@media (max-width: 508px) {
    header .title{
      font-size: 36px; 
    }
}