.playerList {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
    font-size: 1.2em;
    font-weight: 500;
    gap: 0.3em;
}

.player {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    border-radius: 100px 25px 25px 100px;;
    width: 100%;
    position: relative;
}

.player .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.player .localPlayer {
    margin-left: -2px;
    margin-top: -2px;
}

.player .localPlayerIcon-bg {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    border-radius: 50%;
    background-color: #0e2e7fa8; 
}

.player .name {
    flex: 1;
    text-align: center;
}

.player .ownerIcon {
    margin-left: -4px;
    margin-top: -3px;
}

.player .ownerIcon-bg {
    width: 15px;
    height: 17px;
    position: absolute;
    bottom: 12px;
    left: 10px;
    border-radius: 50%;
    background-color: #0e2e7fa8;
}


@media (max-width: 767px) {

    .setup-game .playerList {
        display: flex;
        flex-direction: row;
        max-width: 396px;
        overflow: auto;
        margin-bottom: 10px;
    }

    .setup-game .player {
        flex-direction: column;
        min-width: 100px;
        max-width: 100px;
        background: none;
        text-align: center;
        padding: 0px;
        margin: 5px;
    }

    .setup-game .player .avatar {
        margin: 0px;
    }
    
    .setup-game .player .player-icons {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

}