.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 0.3rem;
  max-width: 80vw;
  max-height: 80vh;
}

.square {
  width: 35px;
  height: 35px;
  border: 2px solid #eee;
  border-radius: 3px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 18px;
}

.square .shipIcon { /* FIXME parece un poco ñapa */
  width: 100%;
  height: 100%;
  position: relative;
  top: -8px;
  font-size: 1.2em;
}

.square.drag-over {
  background-color: lightgray;
}


.playerList {
  display: grid;
  text-align: center;
}

.otherPlayers {
  display: flex;
  align-items:center;
  margin: 0 auto;
}

.otherPlayers .text {
  margin-left: 5px;
}

.GameSetup .loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 16px 0 #fff, -16px 0 #fff;
  position: relative;
  animation: flash 1s ease-out infinite alternate;
  margin-right: 18px;
  margin-left: 16px;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 16px 0 #FFF2, -16px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 16px 0 #FFF2, -16px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 16px 0 #FFF, -16px 0 #FFF2;
  }
}

.localPlayer {
  color: aquamarine;
}
      
